# 框架（不追踪修改）
frameworks/*/
!frameworks/.gitignore

# 临时文件
sandbox/
envs/
*.pyc
__pycache__/
*.log

# 大数据
data/raw/*.csv
data/raw/*.parquet
data/raw/*.zip
data/raw/*.h5
data/qlib/bins/*.bin
data/qlib/calendar/

# 编辑器
.vscode/
.idea/
*.swp
